/*volker1*/
:root{
	--rad:6px;
	--transdiv:#21212141;
	--transhigh:#01010151;
	--offwhite:#F3F3F388;
	--offblack:#0C0C0C98;
}
body{font-family:'Roboto',sans-serif;background-repeat: no-repeat;background-position: right top;background-attachment: fixed;}
#cornerlogo{width:95%;margin-top:5%;}
#navside{position:fixed;top:10px;left:10px;background-color:var(--transdiv);backdrop-filter: blur(2px)/*IMPORTNAT DONT REMOVE*/;text-align:center;width: 200px;height:98%;border-radius:var(--rad); z-index:10;}
#sidelinkname{font-family:'Roboto',sans-serif;color:white;text-decoration:none;font-size:32px;}
.sidebuttons{width: 90%;height:40px;background-color:var(--transdiv);border: 0px solid black;border-radius:var(--rad);color:white;font-size:20px;text-decoration:none;margin:auto;margin-top:20px;}
.sidebuttons:hover{background-color:var(--transhigh);transition-duration:0.1s;}
#about {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#bottomer{position:fixed;width:100%;bottom:1%;z-index:11;}#topper{position:fixed;width:100%;top:0px;z-index:12;}
.offText{position:fixed;bottom:0px;font-size:10px;}
.pageHeader{font-family: 'Ubuntu', sans-serif;font-size:40px;color:white;width:40%;margin:auto;text-align:center;}
.pane{position:static;width:50%;background-color:var(--offwhite);margin:auto;color:black;padding:15px;border-radius:var(--rad);backdrop-filter: blur(5px);}
.panedark{background-color:var(--offblack);color:white;padding:15px;border-radius:var(--rad);/*backdrop-filter:blur(3px);*/}
/*page-specifics*/
/*deleteme

make it covers the side of the screen
no downloads page

1808

*/