.hist{
    display:grid;grid-template-columns: 45% 10% 45%;
    column-gap:1%;
}
.divider{
    background: white url(image.svg) no-repeat center center;
    min-height:200px;
}
.divider p{
    background:white;text-align:center;margin:auto;
}
.histcontent{
    position:relative;display:block;max-height:160px;border-radius:var(--rad);
}
.histcontent p{
    width:90%;/*position:relative;display:block;*/margin:auto;margin-top:1%;
}

/*
.histcontent p::after{
  content:'';display:block;background:linear-gradient(#00000000,var(--darkosc));
  position:absolute;bottom:0px;left:0px;right:0px;top:0px;border-radius:0 0 var(--rad) var(--rad);
 }
.histcontent::before,.histcontent::after{
  bottom:20px;z-index:1;display:block;position:absolute;content:'';height:25px;width:20px;
  background:white;
 }
.histcontent::before{
   left:40%;transform:skewX(50deg);
 }
.histcontent::after{
   right:40%;transform:skewX(-50deg);
 }
.histcontent:hover::before,.histcontent:hover::after{
   background:#CCCCCC;transform:translate(0px, 10px);border:0px;
 }
.histcontent:hover p::after{
     background:linear-gradient(#00000000,var(--dark));
 }
 */
 #expandedView{
   z-index:4;display:none;position:fixed;left:1%;right:1%;height:auto;
   background:var(--darkosc);padding:10px;
 }
 .nope{
   display:none;
 }
 .not{
   display:block;position:absolute;left:0px;right:0px;bottom:0px;top:0px;border-radius:0 0 var(--rad) var(--rad);
   background:linear-gradient(transparent,transparent,transparent,var(--darkosc));
 }
 .not::before,.not::after{
   content:'';display:block;position:absolute;height:1em;width:15%;
   top:80%;
   background:var(--null);
 }
 .not::before{
   left:20%;transform:skewY(30deg);
 }
 .not::after{
   right:20%;transform:skewY(-30deg);
 }
 .not:hover::before,.not:hover::after{
   background:var(--darktrans)
 }