.divider{
    background:var(--darktrans) url(image.svg) no-repeat center center;
    background-size:cover;
    backdrop-filter:blur(8px);-webkit-backdrop-filter:blur(8px);
    min-height:200px;
}
.divider p{
    background:var(--null);text-align:center;margin:auto;width:4rem;font-size:1rem;border-radius:var(--rad)
}
.histcontent{
    position:relative;display:block;height:150px;border-radius:var(--rad);overflow:hidden;
}
.histcontent p{
    width:95%;margin:auto;margin-top:1%;
}
.histcontent img{
  display:block;width:90%;margin:auto;margin-top:20px;
}
.histcontent i{
  display:block;text-align:center;
}
 #expandedView{
   z-index:4;display:none;position:fixed;left:1%;right:1%;height:auto;
   background:var(--darkosc);padding:10px;
 }
 .nope{
   display:none;
 }
 /*
 .not{
   display:block;position:absolute;left:0px;right:0px;bottom:0px;top:0px;border-radius:0 0 var(--rad) var(--rad);
   background:linear-gradient(transparent,transparent,transparent,var(--darkosc));
 }
 .not::before,.not::after{
   content:'';display:block;position:absolute;height:1em;width:15%;
   top:80%;
   background:var(--null);
 }
 .not::before{
   left:20%;transform:skewY(30deg);
 }
 .not::after{
   right:20%;transform:skewY(-30deg);
 }
 .not:hover::before,.not:hover::after{
   background:var(--darktrans)
 }
 */
.not{
  display:block;position:absolute;left:0px;right:0px;bottom:0px;top:0px;border-radius:0 0 var(--rad) var(--rad);
  background:linear-gradient(transparent,transparent,transparent,var(--darkosc));
}
.not::after{
  content:'';display:block;position:absolute;left:10%;right:10%;bottom:10%;height:10px;
  background:var(--null);border-radius:var(--rad);transition-duration:0.1s;
}
.not:hover::after{
  background:white;
}
.nope:hover{
  height:300px;
}