:root{
    --fontfam:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --radsm:4px;
    --rad:6px;
    --radlg:10px;

    --dark:#0C0C0C;
    --darktrans:#0C0C0C55;
    --darkosc:#0C0C0C98;
    --darkobs:#0C0C0CBB;
    --null:#EEEEEECC;

    --nBoxHeight:0.5em;
    font-family:var(--fontfam);
}
::-webkit-scrollbar{border-radius:var(--radsm);width:10px;}
::-webkit-scrollbar-track{background:#a1a1a1;}
::-webkit-scrollbar-thumb{background:var(--darkobs);border-radius:var(--rad);}
::-webkit-scrollbar-thumb:hover{background:var(--darktrans);}
.rawbg{
    background:var(--darkosc);backdrop-filter:blur(5px);color:white;-webkit-backdrop-filter:blur(5px);
}
nav a,.rawbutton{
    cursor:pointer;background:var(--darkobs);text-decoration:none;color:white;border:0px solid transparent;border-left:2px solid transparent;
    transition-duration:0.1s;border-radius:0 var(--rad) var(--rad) 0;text-align:center;
}
nav a:hover,.rawbutton:hover{
    transform: translate(1px,2px);background:var(--darktrans);border-left:2px solid var(--darkobs);
}
nav{
    border-radius:0 var(--rad) var(--rad) 0;
    position:fixed;top:5px;left:5px;bottom:5px;width:10%;z-index:12;
    display:flex;flex-flow:column nowrap;/* */
}
nav a{
    margin:auto;margin-top:10px;margin-bottom:10px;
    width:95%;
}
nav a::before,nav a::after{
    background:transparent;
    content:'';display:block;position:relative;width:100%;height:10px;
}
#navsep{
    margin:auto;background:var(--darkobs);width:60%;height:30px;border-radius:var(--radsm) var(--rad);
}
.header{
    color:white;text-align:center;font-size:3rem;z-index:10;height:75px;
    position:fixed;top:0px;left:15%;right:15%;width:auto;border-radius:0 0 var(--radlg) var(--radlg);
}
.headspac{
    width:100%;height:70px;
}
.main{
    width:75%;display:block;position:relative;margin:auto;
    border-radius:var(--radlg);
}
.col2grid{
    width:100%;box-sizing:border-box;padding:3%;
    display:grid;grid-gap:2%;grid-template-columns:48% 48%;margin-bottom:100px;
}
.col3grid{
    width:100%;box-sizing:border-box;padding:3%;
    display:grid;grid-gap:3%;grid-template-columns:31% 31% 31%;
}
.col3grid div,.col2grid div{
    position:relative;padding:20px;border-radius:var(--rad);box-sizing:border-box;
}
#linkbutton{
    display:none;
}
/*
#borg{
    position:fixed;display:none;z-index:11;top:4px;left:4px;
    width:4em;height:4em;font-size:10px;
  }
  #borg::before,#borg::after{
    content:'';display:block;position:absolute;left:20%;right:20%;
  }
  #borg::before{
    top:20%;bottom:20%;
    border-top:var(--nBoxHeight) solid white;
    border-bottom:var(--nBoxHeight) solid white;
  }
  #borg::after{
    top:1.75em;bottom:1.75em; background:white;
  }*/
#navshow{
    display:none;
}
@media only screen and (max-width:1300px){
    :root{
        --navwidth:20%;
    }
    .main{
        width:90%;
    }
    .col2grid{
        grid-template-columns:100%;
    }
    .col3grid{
        grid-template-columns:100%;
        
    }
    .header{
        left:0px;right:0px;border-radius:0;
        font-size:2rem;height:50px;
    }
    #borg{
        display:block;
    }
    nav{
        position:fixed;top:60px;bottom:5px;left:5px;display:none;width:var(--navwidth);
    }
      
      #navshow{
        display:block;position:fixed;height:0px;width:0px;z-index:13;
      }
      #navshow::before,#navshow::after{
        display:block;content:'';position:fixed;transition-duration:0.1s;
      }
      #navshow::before{
       left:5px;top:5px;height:30px;width:40px;
       background:transparent;border-top:5px solid var(--null);border-bottom:5px solid var(--null);
      }
      #navshow::after{
        background:var(--null);top:22px;height:5px;width:40px;left:5px;
      }
      #navshow:checked::before{
        width:var(--navwidth);
      }
      #navshow:checked::after{
        width:var(--navwidth);
      }
      #navshow:checked~nav{
        display:flex;
      }
}

@media only screen and (max-width:800px){
    :root{
        --navwidth:35%;
    }
    .main{
        width:100%;
    }
    nav{
        width:var(--navwidth);
    }
}
@media only screen and (max-height:540px){
    nav a::before,nav a::after{
        height:2px;
    }
    nav a{
        margin-top:5px;margin-bottom:5px;
        font-size:0.8rem;
    }
}
.cntrtxt{
    text-align:center;
}

#bg{
    display:block;position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:-1;
    opacity:0.5;
    background: conic-gradient(white 0deg, red 5deg, red 85deg,white 90deg,black 95deg,black 175deg,white 180deg,red 185deg, red 265deg,white 270deg,black 275deg,black 355deg,white 360deg) no-repeat;
    background-size:cover;
}
#sneak{
    height:50px;width:100%;
}