/*site by volker1*/
h2{
    text-align:center;font-size:1.75rem;margin-bottom:0px;margin-top:0px;
}
/*
.main p{
    width:90%;margin:auto;text-align:center;height:10rem;margin-bottom:50px;
}
.rawbg,.col2grid div{
    background:var(--darkosc);backdrop-filter:blur(5px);color:white;
    overflow:hidden;
}
.appbtn{
    display:block;position:absolute;bottom:20px;left:20px;right:20px;height:60px;z-index:1;
    font-size:1.2em;font-family:var(--fontfam);
}
*/
.appsel{
    display:flex;position:relative;flex-flow:column nowrap;justify-content:space-around;
}
.appsel p, .appsel button{
    font-size:1.1rem;
}
#appwin{
    z-index:3;position:fixed;top:0px;left:0px;right:0px;bottom:0px;
    background:var(--darktrans);backdrop-filter:blur(3px);
    display:none;overflow:auto;
}
#appframe{
    z-index:4;position:absolute;top:80px;left:0px;right:0px;height:2500px;
    display:none;
}
#app{
    z-index:5;width:100%;height:100%;
    display:none;
}

#bRow{
    display:none;flex-flow:row nowrap;position:fixed;bottom:15px;right:5px;
    width:160px;height:40px;justify-content:space-around;z-index:7;
}
#bRow button{
    width:40px;height:40px;font-size:18px;position:relative;z-index:8;cursor:pointer;display:grid;place-items:center;
    border:none;outline:none;border-radius:50%;background:var(--darkobs);color:white;box-sizing:border-box;
}
#bRow button:hover{
    background:var(--darkosc);
}
#bRow button:active{
    border:1px solid white;
}