#sequence{
    grid-row:2 / 2;
    grid-column:1 / span 2;
    background:url(0.webp) no-repeat;background-size:cover;aspect-ratio:16/9;
    display:flex;flex-flow:row nowrap;justify-content: space-between;
    padding:0px !important;transition-duration:0.2s;
}
#sequence img{
    width:90%;display:block;
}
#sequence button{
    display:block;width:30%;height:100%;
    background:transparent;border:none;
}
#b0:hover{
    background:linear-gradient(to right, var(--darkosc),transparent,transparent);
    border-radius:var(--rad) 0 0 var(--rad);
}
#b1:hover{
    background:linear-gradient(to left, var(--darkosc),transparent,transparent);
    border-radius:0 var(--rad) var(--rad) 0;
}
.single img{
    width:100%;border-radius:var(--rad);display:block;
}
.single{
    padding:0px;
}
@media only screen and (max-width:1300px){
    #sequence{
        grid-column:1 / span 1; /*idk how this works but it works ig lmao*/
    }
}
#b0::before,#b1::before{
    content:'';display:block;position:absolute;top:10%;bottom:10%;
    background:transparent;width:1%;border-radius:69px;transition-duration:3s;
}
#b0::before{
    left:3%;
}
#b1::before{
    right:3%;
}
#b0:hover::before{
    left:3%;background:var(--null);transition-duration:0.1s;
}
#b1:hover::before{
    right:3%;background:var(--null);transition-duration:0.1s;
}