
h2{
    text-align:center;
}
.elders,.leadFlex{
    display:flex;position:relative;flex-flow:row wrap;justify-content:space-around;
    text-align:center;
}
.elders div{
    min-width:200px;
}
.col2grid .rawbg{
    padding:0px;
}
.elders{
    box-sizing:border-box;padding:3%;margin:3%;border-radius:var(--rad);
}
.expltxt{
    padding:3%;margin:3%;border-radius:var(--rad);text-align:center;
}
.rawbutton{
    width:100%;height:2rem;
}
.elders button{
    width:80%;
}
h1{
    text-align:center;
}
#iw{
    display:none;position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:16;
    background:var(--darktrans);backdrop-filter:blur(5px);
}
#infoWindow{
    display:none;position:fixed;top:10%;left:20%;right:20%;z-index:25;
    box-sizing:border-box;padding:30px;font-size:1.2rem;
    background:var(--darktrans);color:white;overflow:auto;
}
#infoWindow .rawbutton{
    height:3rem;font-size:1.1rem;
    display:block;width:90%;margin:auto;margin-top:30px;
}
#infoWindow a{
    width:90%;margin:auto;display:block;
}
#infoWindow a::before,#infoWindow a::after{
    content:'';display:block;position:relative;width:90%;height:0.9rem;background:transparent;
}
#icn{
    width:2rem;height:2rem;background:var(--dark);border-radius:50%;color:white;border:0px;outline:none;font-size:1rem;
    position:absolute;top:10px;left:10px;
}
#icn:hover{
    background:var(--null);color:black;
}
@media only screen and (max-width:1300px){
    #infoWindow{
        top:0px;bottom:0px;left:0px;right:0px;
        font-size:1rem;padding:3%;
    }
}
