body{
    background:black;
}
.col2grid h2{
    text-align:center;font-size:1.5rem;
}
.col2grid div{
    background:var(--darkosc);backdrop-filter:blur(5px);color:white;
}
.col2grid a{
    font-size:1.5em;display:block;margin:auto;width:90%;margin-bottom:20px;
}
.col2grid a::before,.col2grid a::after{
    content:'';display:block;position:relative;width:100%;height:15px;
}
.med{
    aspect-ratio:16/9;
}
#bgexp{
    display:block;position:fixed;top:0;left:0;right:0;bottom:0;
    background:url(assets/index/EmbeddedImage.webp);
}
#mein{
    transition-duration:0.3s;
}